<h1>Crear personaje</h1>
<form method="post">
    <label>Id</label>
    <input type="number" name="idPersonaje" required class="form-control  mb-3" />
    <label>Nombre</label>                          
    <input type="text" name="nombre" required class="form-control mb-3"/>
    <label>Imagen</label>                          
    <input type="text" name="imagen" class="form-control  mb-3" />
    <button class="btn btn-primary" type="submit">Insertar</button>
</form>