@model List<Personaje>

<div class="card-container d-flex flex-row flex-wrap">
    @foreach(Personaje pers in @Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@pers.Imagen" class="card-img-top" alt="...">
            <div class="card-body" style="flex:1">
                <h5 class="card-title">@pers.Nombre</h5>
                <a asp-controller="Personajes" asp-action="Edit" asp-route-idPersonaje="@pers.IdPersonaje" class="btn btn-primary">Detalles</a>
                <a asp-controller="Personajes" asp-action="Delete" asp-route-idPersonaje="@pers.IdPersonaje" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    }
</div>